* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ff2a;
    font-family: cosmic sans ms;
    color: #000;

}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}
.burger {
    width: 180px;
    height: 120px;
    cursor: pointer;
    background: url(../images/burger-menu.svg) no-repeat center;
    background-size: contain;
     /* transition: .1s all linear; */
} 
.burger_active {
    background: url(../images/burger-cross.svg) no-repeat center;
    background-size: contain;
}